<body>
<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAdd(s)" #s="ngForm">
            <div class="row">
                <div class="col-sm-5">
                    <mat-form-field class="example-form">
                        <mat-label>
                    Name</mat-label>
                    <input matInput type="text"
                    id="name"
                    name="name"
                    placeholder="Name"

                    ngModel
                    required
                    >
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field class="example-form">
                        <mat-label>
                    Amount</mat-label>
                    <input matInput type="text"
                    id="amount"
                    name="amount"
                    placeholder="Amount"

                    ngModel
                    required
                    [pattern]="'^[1-9]+[0-9]*$'"

                    >
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-space" 
                    type="submit"
                    [disabled]="!s.valid">{{editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-success btn-space" 
                    *ngIf="editMode" 
                    type="button" 
                    (click)="onDelete()">Delete</button>
                    <button class="btn btn-success btn-space" 
                    type="button" 
                    (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>